<!-- <nav class="navbar navbar-expand-lg rounded-bottom-5 shadow" style="height: 105px;">
    <div class="container">
        <div class="row w-100">
            <div class="col-md-3 d-flex align-items-center">
                <a class="navbar-brand" href="#">
                    <img src="assets/images/baba-logo.png" alt="Logo BABA" style="max-width: 120px;">
                </a>
            </div>

            <div class="col-md-6 d-flex justify-content-center align-items-center">
                <ul class="navbar-nav d-flex">
                    <li class="nav-item mx-2">
                        <a class="nav-link fw-bold active" href="#"
                            style="color: #442204; border-bottom: 5px solid #442204;">Home</a>
                    </li>
                    <li class="nav-item mx-2" style="color: #442204;">
                        <a class="nav-link" routerLink="/shop">Shop</a>
                    </li>
                    <li class="nav-item mx-2" style="color: #442204;">
                        <a class="nav-link" routerLink="/about-us">About Us</a>
                    </li>
                    <li class="nav-item mx-2" style="color: #442204;">
                        <a class="nav-link" routerLink="/blog">Blog</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-3 d-flex justify-content-end align-items-center">
                <ul class="navbar-nav">
                    <li class="nav-item mx-2">
                        <a class="nav-link" href="#">
                            <img src="assets/icons/MagnifyingGlass.png" alt="Search here" style="width: 20px;">
                        </a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link" href="#">
                            <img src="assets/icons/Handbag.png" alt="Your Cart" style="width: 20px;">
                        </a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link" routerLink="/my-profile">
                            <img src="assets/icons/User.png" alt="See my Profile" style="width: 20px;">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav> -->

<nav class="navbar">
    <div class="container">
        <!-- Row container for navbar items -->
        <div class="row">
            <!-- Bagian Kiri -->
            <div class="left-section">
                <a class="navbar-brand" href="#">
                    <img src="assets/images/baba-logo.png" alt="Logo BABA">
                </a>
            </div>

            <!-- Bagian Tengah -->
            <div class="center-section">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/" [class.active-bold]="isLinkActive('/')">Home</a>
                        <div class="indicator" [class.active]="isLinkActive('/')"></div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/shop" [class.active-bold]="isLinkActive('/shop')">Shop</a>
                        <div class="indicator" [class.active]="isLinkActive('/shop')"></div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/about-us" [class.active-bold]="isLinkActive('/about-us')">
                            About Us
                        </a>
                        <div class="indicator" [class.active]="isLinkActive('/about-us')"></div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/blog" [class.active-bold]="isLinkActive('/blog')">Blog</a>
                        <div class="indicator" [class.active]="isLinkActive('/blog')"></div>
                    </li>
                </ul>
            </div>


            <!-- Bagian Kanan -->
            <div class="right-section">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <img src="assets/icons/MagnifyingGlass.png" alt="Search here" [class.active-bg]="isLinkActive('')">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <img src="assets/icons/Handbag.png" alt="Your Cart" [class.active-bg]="isLinkActive('')">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/my-profile">
                            <img src="assets/icons/User.png" alt="See my Profile" [class.active-bg]="isLinkActive('/my-profile')">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>