<footer class="footer">
    <div class="footer-container">
        <div class="newsletter">
            <h3>Receive Updates on New Arrivals and Special Promotions!</h3>
            <div class="input-group">
                <input type="email" class="form-control" id="newsletter-email" placeholder="Your email here">
                <button class="btn" type="submit">Submit</button>
            </div>
        </div>

        <div class="footer-links">
            <div class="categories">
                <h3>Categories</h3>
                <ul class="list-unstyled">
                    <li>
                        <a href="#">
                            <h3>Man</h3>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <h3>Woman</h3>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <h3>Unisex</h3>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <h3>Top Seller</h3>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <h3>Best Seller</h3>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="shopping">
                <h3>Shopping</h3>
                <ul class="list-unstyled">
                    <li>
                        <a href="#">
                            <h3>Payments</h3>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <h3>Delivery options</h3>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="pages">
                <h3>Pages</h3>
                <ul class="list-unstyled">
                    <li>
                        <a href="#">
                            <h3>About Us</h3>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <h3>Products</h3>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <h3>Blog</h3>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <h3>Admin Page</h3>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <hr class="divider">

    <div class="footer-bottom">
        <p>&copy; 2004 All rights reserved.</p>
    </div>
</footer>