<!-- Hero -->
<section class="hero">
    <div class="container">
        <div class="text-section">
            <h1 class="main-heading">Explore the Fragrance World!</h1>
            <h3 class="sub-heading">Find and enshape your aromatic personality</h3>
        </div>
        <div class="search-section">
            <input type="text" class="search-input" placeholder="Search your aroma...">
            <button class="search-button">
                <i class="fa-solid fa-magnifying-glass" style="color: white;"></i>
            </button>
        </div>
    </div>
    <div class="backdrop"></div>
</section>

<!-- Top Seller Collection -->
<section class="seller-collection">
    <p class="seller-collection-title">Top Seller Collection</p>
    <div class="seller-row">
        <div class="seller-col">
            <div class="seller-card">
                <img src="assets/images/black-opium.png" class="seller-card-img" alt="Black Opium">
                <div class="seller-card-body">
                    <p class="seller-card-title">Black Opium</p>
                    <div class="seller-card-rating">
                        <div class="seller-card-rating-icon">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                        </div>
                        <p class="seller-card-rating-title">5.0</p>
                    </div>
                    <p class="seller-card-text">Rp.150.000,00</p>
                    <div class="button-group seller-button">
                        <a href="#" class="btn cart-btn">ADD TO CART</a>
                        <a href="#" class="btn favourite-btn">
                            <img src="assets/icons/favourite.png">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="seller-col">
            <div class="seller-card">
                <img src="assets/images/rextase.png" class="seller-card-img" alt="Rextase">
                <div class="seller-card-body">
                    <p class="seller-card-title">Rextase</p>
                    <div class="seller-card-rating">
                        <div class="seller-card-rating-icon">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                        </div>
                        <p class="seller-card-rating-title">5.0</p>
                    </div>
                    <p class="seller-card-text">Rp.150.000,00</p>
                    <div class="button-group seller-button">
                        <a href="#" class="btn cart-btn">ADD TO CART</a>
                        <a href="#" class="btn unfavourite-btn">
                            <img src="assets/icons/unfavourite.png">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="seller-col">
            <div class="seller-card">
                <img src="assets/images/mevva.png" class="seller-card-img" alt="Mevva">
                <div class="seller-card-body">
                    <p class="seller-card-title">Mevva</p>
                    <div class="seller-card-rating">
                        <div class="seller-card-rating-icon">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                        </div>
                        <p class="seller-card-rating-title">5.0</p>
                    </div>
                    <p class="seller-card-text">Rp.150.000,00</p>
                    <div class="button-group seller-button">
                        <a href="#" class="btn cart-btn">ADD TO CART</a>
                        <a href="#" class="btn unfavourite-btn">
                            <img src="assets/icons/unfavourite.png">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Best Seller Collection -->
<section class="seller-collection">
    <p class="seller-collection-title">Best Seller Collection</p>
    <div class="seller-row">
        <div class="seller-col">
            <div class="seller-card">
                <img src="assets/images/baba-product.png" class="seller-card-img" alt="Avne">
                <div class="seller-card-body">
                    <p class="seller-card-title">Avne</p>
                    <div class="seller-card-rating">
                        <div class="seller-card-rating-icon">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                        </div>
                        <p class="seller-card-rating-title">5.0</p>
                    </div>
                    <p class="seller-card-text">Rp.70.000,00</p>
                    <div class="button-group seller-button">
                        <a href="#" class="btn cart-btn">ADD TO CART</a>
                        <a href="#" class="btn unfavourite-btn">
                            <img src="assets/icons/unfavourite.png">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="seller-col">
            <div class="seller-card">
                <img src="assets/images/baba-product.png" class="seller-card-img" alt="Avril Lavigne">
                <div class="seller-card-body">
                    <p class="seller-card-title">Avril Lavigne</p>
                    <div class="seller-card-rating">
                        <div class="seller-card-rating-icon">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                        </div>
                        <p class="seller-card-rating-title">5.0</p>
                    </div>
                    <p class="seller-card-text">Rp.70.000,00</p>
                    <div class="button-group seller-button">
                        <a href="#" class="btn cart-btn">ADD TO CART</a>
                        <a href="#" class="btn unfavourite-btn">
                            <img src="assets/icons/unfavourite.png">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="seller-col">
            <div class="seller-card">
                <img src="assets/images/baba-product.png" class="seller-card-img" alt="Avril Rose">
                <div class="seller-card-body">
                    <p class="seller-card-title">Avril Rose</p>
                    <div class="seller-card-rating">
                        <div class="seller-card-rating-icon">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                        </div>
                        <p class="seller-card-rating-title">5.0</p>
                    </div>
                    <p class="seller-card-text">Rp.70.000,00</p>
                    <div class="button-group seller-button">
                        <a href="#" class="btn cart-btn">ADD TO CART</a>
                        <a href="#" class="btn unfavourite-btn">
                            <img src="assets/icons/unfavourite.png">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="seller-col">
            <div class="seller-card">
                <img src="assets/images/baba-product.png" class="seller-card-img" alt="Baba Coffee">
                <div class="seller-card-body">
                    <p class="seller-card-title">Baba Coffee</p>
                    <div class="seller-card-rating">
                        <div class="seller-card-rating-icon">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                        </div>
                        <p class="seller-card-rating-title">5.0</p>
                    </div>
                    <p class="seller-card-text">Rp.70.000,00</p>
                    <div class="button-group seller-button">
                        <a href="#" class="btn cart-btn">ADD TO CART</a>
                        <a href="#" class="btn unfavourite-btn">
                            <img src="assets/icons/unfavourite.png">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="seller-col">
            <div class="seller-card">
                <img src="assets/images/baba-product.png" class="seller-card-img" alt="Barcelona">
                <div class="seller-card-body">
                    <p class="seller-card-title">Barcelona</p>
                    <div class="seller-card-rating">
                        <div class="seller-card-rating-icon">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                        </div>
                        <p class="seller-card-rating-title">5.0</p>
                    </div>
                    <p class="seller-card-text">Rp.70.000,00</p>
                    <div class="button-group seller-button">
                        <a href="#" class="btn cart-btn">ADD TO CART</a>
                        <a href="#" class="btn unfavourite-btn">
                            <img src="assets/icons/unfavourite.png">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="seller-col">
            <div class="seller-card">
                <img src="assets/images/baba-product.png" class="seller-card-img" alt="Dalal Al Rehab">
                <div class="seller-card-body">
                    <p class="seller-card-title">Dalal Al Rehab</p>
                    <div class="seller-card-rating">
                        <div class="seller-card-rating-icon">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                        </div>
                        <p class="seller-card-rating-title">5.0</p>
                    </div>
                    <p class="seller-card-text">Rp.70.000,00</p>
                    <div class="button-group seller-button">
                        <a href="#" class="btn cart-btn">ADD TO CART</a>
                        <a href="#" class="btn unfavourite-btn">
                            <img src="assets/icons/unfavourite.png">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="seller-col">
            <div class="seller-card">
                <img src="assets/images/baba-product.png" class="seller-card-img" alt="...">
                <div class="seller-card-body">
                    <p class="seller-card-title">Black Opium</p>
                    <div class="seller-card-rating">
                        <div class="seller-card-rating-icon">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                        </div>
                        <p class="seller-card-rating-title">5.0</p>
                    </div>
                    <p class="seller-card-text">Rp.70.000,00</p>
                    <div class="button-group seller-button">
                        <a href="#" class="btn cart-btn">ADD TO CART</a>
                        <a href="#" class="btn unfavourite-btn">
                            <img src="assets/icons/unfavourite.png">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="seller-col">
            <div class="seller-card">
                <img src="assets/images/baba-product.png" class="seller-card-img" alt="...">
                <div class="seller-card-body">
                    <p class="seller-card-title">Black Opium</p>
                    <div class="seller-card-rating">
                        <div class="seller-card-rating-icon">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                        </div>
                        <p class="seller-card-rating-title">5.0</p>
                    </div>
                    <p class="seller-card-text">Rp.70.000,00</p>
                    <div class="button-group seller-button">
                        <a href="#" class="btn cart-btn">ADD TO CART</a>
                        <a href="#" class="btn unfavourite-btn">
                            <img src="assets/icons/unfavourite.png">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="seller-col">
            <div class="seller-card">
                <img src="assets/images/baba-product.png" class="seller-card-img" alt="...">
                <div class="seller-card-body">
                    <p class="seller-card-title">Black Opium</p>
                    <div class="seller-card-rating">
                        <div class="seller-card-rating-icon">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                        </div>
                        <p class="seller-card-rating-title">5.0</p>
                    </div>
                    <p class="seller-card-text">Rp.70.000,00</p>
                    <div class="button-group seller-button">
                        <a href="#" class="btn cart-btn">ADD TO CART</a>
                        <a href="#" class="btn unfavourite-btn">
                            <img src="assets/icons/unfavourite.png">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="best-seller-button">
        <a href="#" class="btn explore-btn">
            EXPLORE PRODUCT
            <img src="assets/icons/right-arrow.png">
        </a>
    </div>
</section>

<!-- Free Shipping -->
<section class="shipping">
    <div class="shipping-container">
        <div class="text-section">
            <h1 class="shipping-main-heading">Get Free Shipping Delivery!</h1>
            <h3 class="shipping-sub-heading">Kami akan mengantarkan produk ke depan pintu rumah Anda dimanapun Anda dalam Kota Batam dengan <span>GRATIS</span>!.</h3>
            <div class="button-group">
                <a href="#" class="shipping-btn">Order Now</a>
            </div>
        </div>
        <div class="shipping-image-section">
            <img src="assets/images/shipping.png" alt="BABA Perfume" />
        </div>
    </div>
</section>

<!-- Top and Best Seller -->
<section class="seller-section">
    <div class="seller-item top-seller">
        <img src="assets/images/top-seller.png" alt="Top Seller">
        <p>Top Seller Collection</p>
    </div>
    <div class="seller-item best-seller">
        <img src="assets/images/best-seller.png" alt="Best Seller">
        <p>Best Seller Collection</p>
    </div>
</section>