<!-- Hero -->
<section class="hero">
    <div class="container">
        <div class="text-section">
            <h1 class="main-heading">Rasakan Kesegaran di Setiap Aktivitas Anda!</h1>
            <h3 class="sub-heading">Dapatkan keharuman segar dan tahan lama setiap hari. Jadikan setiap momen lebih
                menyenangkan dengan sentuhan aroma yang mewah & menyegarkan.</h3>
            <div class="button-group">
                <a href="#" class="btn primary-btn">Beli Sekarang!</a>
                <a href="#" class="btn secondary-btn">Lebih Lanjut</a>
            </div>
        </div>
        <div class="image-section">
            <img src="assets/images/baba.png" alt="BABA Perfume" />
        </div>
    </div>
    <div class="backdrop"></div>
</section>

<!-- Benefit -->
<section class="custom-section">
    <div class="custom-container">
        <div class="custom-card custom-card-1">
            <div class="custom-card-body">
                <h3 class="custom-card-title">Tanpa Alkohol</h3>
                <p class="custom-card-text">Mengandung parfum dan campuran fermentasi air tebu serta tidak meninggalkan
                    noda apapun pada pakaian.</p>
            </div>
        </div>
        <div class="custom-card custom-card-2">
            <div class="custom-card-body">
                <h3 class="custom-card-title">Harum Sepanjang Hari</h3>
                <p class="custom-card-text">Cukup semprotkan pada beberapa titik dan rasakan keharuman dari 8 hingga 12
                    jam.
                </p>
            </div>
        </div>
        <div class="custom-card custom-card-3">
            <div class="custom-card-body">
                <h3 class="custom-card-title">Mudah Dibawa Kemanapun</h3>
                <p class="custom-card-text">Kemasan yang kecil membuat Baba Parfum mudah dibawa bahkan saat Anda
                    bepergian sekalipun.</p>
            </div>
        </div>
    </div>
</section>

<!-- Top and Best Seller -->
<section class="seller-section">
    <div class="seller-item top-seller">
        <img src="assets/images/top-seller.png" alt="Top Seller">
        <p>Top Seller Collection</p>
    </div>
    <div class="seller-item best-seller">
        <img src="assets/images/best-seller.png" alt="Best Seller">
        <p>Best Seller Collection</p>
    </div>
</section>

<!-- Top Seller Collection -->
<section class="seller-collection">
    <p class="seller-collection-title">Top Seller Collection</p>
    <div class="seller-row">
        <div class="seller-col">
            <div class="seller-card">
                <img src="assets/images/black-opium.png" class="seller-card-img" alt="Black Opium">
                <div class="seller-card-body">
                    <p class="seller-card-title">Black Opium</p>
                    <div class="seller-card-rating">
                        <div class="seller-card-rating-icon">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                        </div>
                        <p class="seller-card-rating-title">5.0</p>
                    </div>
                    <p class="seller-card-text">Rp.150.000,00</p>
                    <div class="button-group seller-button">
                        <a href="#" class="btn cart-btn">ADD TO CART</a>
                        <a href="#" class="btn favourite-btn">
                            <img src="assets/icons/favourite.png">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="seller-col">
            <div class="seller-card">
                <img src="assets/images/rextase.png" class="seller-card-img" alt="Rextase">
                <div class="seller-card-body">
                    <p class="seller-card-title">Rextase</p>
                    <div class="seller-card-rating">
                        <div class="seller-card-rating-icon">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                        </div>
                        <p class="seller-card-rating-title">5.0</p>
                    </div>
                    <p class="seller-card-text">Rp.150.000,00</p>
                    <div class="button-group seller-button">
                        <a href="#" class="btn cart-btn">ADD TO CART</a>
                        <a href="#" class="btn unfavourite-btn">
                            <img src="assets/icons/unfavourite.png">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="seller-col">
            <div class="seller-card">
                <img src="assets/images/mevva.png" class="seller-card-img" alt="Mevva">
                <div class="seller-card-body">
                    <p class="seller-card-title">Mevva</p>
                    <div class="seller-card-rating">
                        <div class="seller-card-rating-icon">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                        </div>
                        <p class="seller-card-rating-title">5.0</p>
                    </div>
                    <p class="seller-card-text">Rp.150.000,00</p>
                    <div class="button-group seller-button">
                        <a href="#" class="btn cart-btn">ADD TO CART</a>
                        <a href="#" class="btn unfavourite-btn">
                            <img src="assets/icons/unfavourite.png">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Best Seller Collection -->
<section class="seller-collection">
    <p class="seller-collection-title">Best Seller Collection</p>
    <div class="seller-row">
        <div class="seller-col">
            <div class="seller-card">
                <img src="assets/images/baba-product.png" class="seller-card-img" alt="Avne">
                <div class="seller-card-body">
                    <p class="seller-card-title">Avne</p>
                    <div class="seller-card-rating">
                        <div class="seller-card-rating-icon">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                        </div>
                        <p class="seller-card-rating-title">5.0</p>
                    </div>
                    <p class="seller-card-text">Rp.70.000,00</p>
                    <div class="button-group seller-button">
                        <a href="#" class="btn cart-btn">ADD TO CART</a>
                        <a href="#" class="btn unfavourite-btn">
                            <img src="assets/icons/unfavourite.png">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="seller-col">
            <div class="seller-card">
                <img src="assets/images/baba-product.png" class="seller-card-img" alt="Avril Lavigne">
                <div class="seller-card-body">
                    <p class="seller-card-title">Avril Lavigne</p>
                    <div class="seller-card-rating">
                        <div class="seller-card-rating-icon">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                        </div>
                        <p class="seller-card-rating-title">5.0</p>
                    </div>
                    <p class="seller-card-text">Rp.70.000,00</p>
                    <div class="button-group seller-button">
                        <a href="#" class="btn cart-btn">ADD TO CART</a>
                        <a href="#" class="btn unfavourite-btn">
                            <img src="assets/icons/unfavourite.png">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="seller-col">
            <div class="seller-card">
                <img src="assets/images/baba-product.png" class="seller-card-img" alt="Avril Rose">
                <div class="seller-card-body">
                    <p class="seller-card-title">Avril Rose</p>
                    <div class="seller-card-rating">
                        <div class="seller-card-rating-icon">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                        </div>
                        <p class="seller-card-rating-title">5.0</p>
                    </div>
                    <p class="seller-card-text">Rp.70.000,00</p>
                    <div class="button-group seller-button">
                        <a href="#" class="btn cart-btn">ADD TO CART</a>
                        <a href="#" class="btn unfavourite-btn">
                            <img src="assets/icons/unfavourite.png">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="seller-col">
            <div class="seller-card">
                <img src="assets/images/baba-product.png" class="seller-card-img" alt="Baba Coffee">
                <div class="seller-card-body">
                    <p class="seller-card-title">Baba Coffee</p>
                    <div class="seller-card-rating">
                        <div class="seller-card-rating-icon">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                        </div>
                        <p class="seller-card-rating-title">5.0</p>
                    </div>
                    <p class="seller-card-text">Rp.70.000,00</p>
                    <div class="button-group seller-button">
                        <a href="#" class="btn cart-btn">ADD TO CART</a>
                        <a href="#" class="btn unfavourite-btn">
                            <img src="assets/icons/unfavourite.png">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="seller-col">
            <div class="seller-card">
                <img src="assets/images/baba-product.png" class="seller-card-img" alt="Barcelona">
                <div class="seller-card-body">
                    <p class="seller-card-title">Barcelona</p>
                    <div class="seller-card-rating">
                        <div class="seller-card-rating-icon">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                        </div>
                        <p class="seller-card-rating-title">5.0</p>
                    </div>
                    <p class="seller-card-text">Rp.70.000,00</p>
                    <div class="button-group seller-button">
                        <a href="#" class="btn cart-btn">ADD TO CART</a>
                        <a href="#" class="btn unfavourite-btn">
                            <img src="assets/icons/unfavourite.png">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="seller-col">
            <div class="seller-card">
                <img src="assets/images/baba-product.png" class="seller-card-img" alt="Dalal Al Rehab">
                <div class="seller-card-body">
                    <p class="seller-card-title">Dalal Al Rehab</p>
                    <div class="seller-card-rating">
                        <div class="seller-card-rating-icon">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                        </div>
                        <p class="seller-card-rating-title">5.0</p>
                    </div>
                    <p class="seller-card-text">Rp.70.000,00</p>
                    <div class="button-group seller-button">
                        <a href="#" class="btn cart-btn">ADD TO CART</a>
                        <a href="#" class="btn unfavourite-btn">
                            <img src="assets/icons/unfavourite.png">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="seller-col">
            <div class="seller-card">
                <img src="assets/images/baba-product.png" class="seller-card-img" alt="...">
                <div class="seller-card-body">
                    <p class="seller-card-title">Black Opium</p>
                    <div class="seller-card-rating">
                        <div class="seller-card-rating-icon">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                        </div>
                        <p class="seller-card-rating-title">5.0</p>
                    </div>
                    <p class="seller-card-text">Rp.70.000,00</p>
                    <div class="button-group seller-button">
                        <a href="#" class="btn cart-btn">ADD TO CART</a>
                        <a href="#" class="btn unfavourite-btn">
                            <img src="assets/icons/unfavourite.png">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="seller-col">
            <div class="seller-card">
                <img src="assets/images/baba-product.png" class="seller-card-img" alt="...">
                <div class="seller-card-body">
                    <p class="seller-card-title">Black Opium</p>
                    <div class="seller-card-rating">
                        <div class="seller-card-rating-icon">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                        </div>
                        <p class="seller-card-rating-title">5.0</p>
                    </div>
                    <p class="seller-card-text">Rp.70.000,00</p>
                    <div class="button-group seller-button">
                        <a href="#" class="btn cart-btn">ADD TO CART</a>
                        <a href="#" class="btn unfavourite-btn">
                            <img src="assets/icons/unfavourite.png">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="seller-col">
            <div class="seller-card">
                <img src="assets/images/baba-product.png" class="seller-card-img" alt="...">
                <div class="seller-card-body">
                    <p class="seller-card-title">Black Opium</p>
                    <div class="seller-card-rating">
                        <div class="seller-card-rating-icon">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                            <img src="assets/icons/rating.png" alt="Total Rating">
                        </div>
                        <p class="seller-card-rating-title">5.0</p>
                    </div>
                    <p class="seller-card-text">Rp.70.000,00</p>
                    <div class="button-group seller-button">
                        <a href="#" class="btn cart-btn">ADD TO CART</a>
                        <a href="#" class="btn unfavourite-btn">
                            <img src="assets/icons/unfavourite.png">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="best-seller-button">
        <a href="#" class="btn explore-btn">
            EXPLORE PRODUCT
            <img src="assets/icons/right-arrow.png">
        </a>
    </div>
</section>

<!-- Free Shipping -->
<section class="shipping">
    <div class="shipping-container">
        <div class="text-section">
            <h1 class="shipping-main-heading">Get Free Shipping Delivery!</h1>
            <h3 class="shipping-sub-heading">Kami akan mengantarkan produk ke depan pintu rumah Anda dimanapun Anda
                dalam Kota Batam dengan <span>GRATIS</span>!.</h3>
            <div class="button-group">
                <a href="#" class="shipping-btn">Order Now</a>
            </div>
        </div>
        <div class="shipping-image-section">
            <img src="assets/images/shipping.png" alt="BABA Perfume" />
        </div>
    </div>
</section>

<!-- Latest Articles -->
<section class="article-collection">
    <p class="article-collection-title">Latest Articles</p>
    <div class="article-row">
        <div class="article-col">
            <div class="article-card">
                <img src="assets/images/lavender-perfume.png" class="article-card-img" alt="Lavender Perfume">
                <div class="article-card-body">
                    <p class="article-card-title">The Soothing Symphony of Lavender Perfumes: Unlocking the Secrets of a
                        Fragrant Elixir</p>
                    <p class="article-card-text">Lavender, with its enchanting aroma and rich history, has been
                        cherished for centuries as a symbol of relaxation, healing, and timeless beauty. In the world of
                        perfumery, lavender plays a key role in creating captivating fragrances
                        loved by many.</p>
                    <div class="article-button">
                        <a href="#" class="btn article-btn">Read More</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="article-col">
            <div class="article-card">
                <img src="assets/images/luxury-perfume.png" class="article-card-img" alt="Luxury Perfume">
                <div class="article-card-body">
                    <p class="article-card-title">The Art of Curating a Luxury Perfume Collection: A Symphony of Scents
                        and Stories</p>
                    <p class="article-card-text">A luxury perfume collection is not just an assortment of fragrances; it
                        is a reflection of one's taste, personality, and experiences. Each bottle holds a unique
                        olfactory journey, crafted with the finest ingredients and artistic mastery.</p>
                    <div class="article-button">
                        <a href="#" class="btn article-btn">Read More</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="article-col">
            <div class="article-card">
                <img src="assets/images/rose-perfume.png" class="article-card-img" alt="Rose Perfume">
                <div class="article-card-body">
                    <p class="article-card-title">The Timeless Elegance of Rose Perfumes: Unveiling the Queen of Flowers
                        in Fragrance</p>
                    <p class="article-card-text">Rose, often referred to as the "Queen of Flowers," has held a special
                        place in human culture and history for centuries. Beyond its captivating beauty, this iconic
                        bloom has also inspired perfumers to create some of the most timeless
                        and exquisite fragrances in the world.</p>
                    <div class="article-button">
                        <a href="#" class="btn article-btn">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>