<!-- Hero -->
<section class="hero">
    <div class="container">
        <div class="text-section">
            <h1 class="main-heading">Welcome Fahmi!</h1>
            <h3 class="sub-heading">Special dedicated page for your easiness of purchasing the luxury</h3>
        </div>
    </div>
    <div class="backdrop"></div>
</section>

<!-- <section>
    <p-tabView>
        <p-tabPanel header="Orders">
            <app-orders></app-orders>
        </p-tabPanel>
        <p-tabPanel header="Profiles">
            <app-profiles></app-profiles>
        </p-tabPanel>
        <p-tabPanel header="Vouchers">
            <app-vouchers></app-vouchers>
        </p-tabPanel>
    </p-tabView>
</section> -->

<!-- <section>
    <mat-tab-group>
        <mat-tab label="Order">
            <app-order></app-order>
        </mat-tab>
        <mat-tab label="Voucher">
            <app-voucher></app-voucher>
        </mat-tab>
        <mat-tab label="Profile">
            <app-profile></app-profile>
        </mat-tab>
    </mat-tab-group>
</section> -->